<!DOCTYPE html>
<html>
    <head>
        <title>Codecool Quest Store</title>
        <link rel = "stylesheet" type="text/css" href = "assets/stylesheets/login.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet"> 
        <link rel = "stylesheet" type = "text/css" href = "assets/stylesheets/fontello-login-page/css/fontello.css">
        <meta charset = "UTF-8">
        <link rel="icon" href="assets/images/faviconCodecool.png">
    </head>
    <body>
        <div class = "container">
             
            <form class = "login-form" method = "POST" action = "login">
                <span class = "name">Quest Store</span>
                <div class = "form-interior">
                    <img src="images/codecool-logo.png" class = "codecool-logo">
                    <div class = "inputs-interior">
                        <span class = "login-form-title">Member Login</span>
                        <div class="validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" name="email" placeholder="Email">
                            <span class = "focus-input100"></span>
                            <i class="icon-mail-alt"></i>
                        </div>

                        <div class="validate-input" data-validate = "Password is required">
                            <input class="input100" type="password" name="pass" placeholder="Password">
                            <span class = "focus-input100"></span>
                            <i class="icon-key"></i>
                        </div>

                        <div class="container-login-form-btn">
                            <input type = submit class="login-form-btn" value="login">

                            </input>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>