{% extends "adminMain.twig" %}

{% block content %}

    <section class = "container-internal">
        <div class = "coin-picker">
            <img src = "static/assets/images/teamIcon.png" class = "teamIcon">
            <span class = "nickname">{{ nickname }}</span>
        </div>
        <header>
        <h3>Adding new class</h1>
        </header>
      <div class = "main">
      <form class="submit-form" method="post" name="myForm">
        <div class = "column">
          <fieldset class="first-table menu-internal">
            <ul>
              <li><label>
                Room Name
                <input type="text" name="name" placeholder="Name" value="">
                </label></li>

            </ul>
          </fieldset>
    <div class = "column">

          <fieldset class="second-table menu-internal">
            <ul>
              <li><label>
                Room Description
                <input type="text" name="name" placeholder="Description" value="">
                </label></li>
            </ul>
          </fieldset>
          </div></div>
      </form>
    </div>
    </section>
{% endblock %}
