{% extends "adminMain.twig" %}

{% block content %}

    <section class = "container-internal">
        <div class = "coin-picker">
            <img src = "static/assets/images/teamIcon.png" class = "teamIcon">
            <span class = "nickname">{{ nickname }}</span>
        </div>
     <header>
        <h3>Add Mentor</h3>
      </header>
      <form class="submit-form" method="post" name="myForm">
      <div class = "column">
        <fieldset class="first-table menu-internal">
          <ul>
          <li><label>
            Name
            <input type="text" name="name" placeholder="Name" value="">
            </label></li>

          <li><label>
            Email
            <input type="text" name="email" placeholder="Email address" value="">
            </label></li>
          <li><label>
            Password
            <input type="text" name="pass" placeholder="Password" value="">
            </label></li>
          <li><label>
            Surname
            <input type="text" name="surname" placeholder="Second name" value="">
            </label></li>
            <li><label>
            Nick Name
            <input type="text" name="nick" placeholder="Nick name" value="">
            </label></li>
          <li><label>
            Class
            <input type="text" name="class" placeholder="Class name" value="">
            </label></li>
          </ul>
        </fieldset>
        <input type ="submit" class = "submit-button" value= "Add Mentor"></input>
        </div>
      </form>
    </section>
{% endblock %}
