{% extends "adminMain.twig" %}

{% block content %}

    <section class = "container-internal">
        <div class = "coin-picker">
            <img src = "static/assets/images/teamIcon.png" class = "teamIcon">
            <span class = "nickname">{{ nickname }}</span>
        </div>
     <header>
        <h3>Add Mentor</h3>
      </header>
      <form class="submit-form" method="post" name="myForm">
      <div class = "column">
        <fieldset class="first-table menu-internal">
          <ul>
          <li><label>
            Name
            <input type="text" name="name" placeholder="Full name" value="">
            </label></li>

          <li><label>
            Email
            <input type="text" name="email" placeholder="Email address" value="">
            </label></li>

          <li><label>
            Class
            <input type="text" name="class" placeholder="Class name" value="">
            </label></li>
          </ul>
        </fieldset>
        <button type ="button" class = "submit-button">Add Mentor</button>
        </div>
      </form>
    </section>
{% endblock %}
