
.container-internal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/iframeBackground.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
}

header h1{
  margin-left: auto;
  margin-right: auto;
  color: rgb(0,0,0);
}
header h3{
  margin-left: auto;
  margin-right: auto;
  color: rgb(0,0,0);
}

.column{
  display: flex;
  flex-direction: row; /* row */
  justify-content: space-between;
}

.separator{
  display: flex;
  align-items: center;
}

table, fieldset{
  background-color: rgba(83, 80, 80, 0.9);
  border: 0.3vw solid transparent;
  border-radius: 1vw;
  padding: 0.8vw;
}

.search-engine{
  display: flex;
  align-self: center;
  background-color: rgba(83, 80, 80, 0.9);
  border: 0vw solid transparent;
  padding: 1vw;
  border-radius: 1vw;
}

.first-table{
  margin-right: auto;
  margin-top: 2vw;
  width: 25%;
  height: auto;

}
.second-table{
  margin-right: 15vw;
  margin-top: 5vw;
  width: 35%;
  height: auto;
}

.menu-internal{
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-internal{
  padding: 0.94vw;
  color: #fff;
  border-right: 0.5vw solid transparent;
  border-top: 0.2vw solid transparent;
  border-bottom: 0.2vw solid transparent;
  border-left: 0.5vw solid transparent;
}

.middle{
margin-left: 10vw;
margin-top: 5vh;}
