body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
a:hover{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    font-family: 'Lato', sans-serif;
}
header{
    background-image: url("/home/karol/codecool/SQL/I Teamwork III module/questStoreOdoTrzaZad/HTML/assets/images/indexHeader.jpg");
    background: cover;
    background-position: 50% 44%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10.5vw;
    font-weight: bold;
    font-size: 2.5vw;
    padding: 0.5vw;
    position: relative;
}

header a{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 30%;
    padding-left: 2vw;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
header a:hover{
    color: #fff;
}
.main{
    z-index: 1;
    width: 100%;

    background-color: #fff;
}

.bar{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 0.1vw solid black;

    background-color:rgb(40,42,41);
   
}
.bar img{
    position: absolute;
    width: 3.2vw;
    height: 3vw;
    left: 1%;
    top: 10%;
}
.bar span{
    position: absolute;
    left: 5%;
    top: 20%;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
}
.primary-nav{
   
    align-self: flex-end;
    padding-right: 3%;
}
.primary-nav a{
    text-transform: uppercase;
    font-size: 1.7vw;
    display: inline-block;
    text-align: center;
    padding: 0.8vw;
    color: #fff;
}
.primary-nav a:hover{
    background-color: rgb(1, 119, 164);
    color: #fff;
    transition: 0.4s;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.4vw;
    
}

.col-1-5{
    width: 15%;
}
.col-4-5{
    width: 82%;
    height: 40vw;
}
.right-side{
    width: 3%;
    background-color: rgb(40,42,41);
}
.menu{
    
    height: 40vw;
    background-color: rgb(40,42,41);
}
.menu ul{
    
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li{
    padding: 0.94vw;
    color: #fff;
    border-right: 0.5vw solid transparent;
    border-top: 0.2vw solid transparent;
    border-bottom: 0.2vw solid transparent;
    border-left: 0.5vw solid transparent;

}

.menu ul li:hover{
    background-color: rgb(1, 119, 164);
    border-right: 0.5vw solid blue;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    border-left: 0.5vw solid blue;
    transition: 0.3s;
    
}
.site{
    width: 100%;
    height: 40vw;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 0;
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    height: 8vw;
    background-color: rgb(40,42,31);
    border-top: 0.2vw solid black;
    
}
.footer p{
    text-transform: uppercase;
    color: #fff;
    padding-top: 1.5%;
    padding-left: 15%;
    font-weight: bold;
    font-size: 1.8vw;
}
.icon-facebook-squared, .icon-twitter-squared, .icon-linkedin-squared{
    color: #fff;
    position: absolute;
    font-size: 6vw;
    text-decoration: none;
}

.icon-facebook-squared{
    right: 25%;
    padding-top: 0.5%;
    
}
.icon-facebook-squared:hover{
    color: #3b5998;
    transition: 0.4s;

}
.icon-twitter-squared{
    right: 15%;
    padding-top: 0.5%;
    
}

.icon-twitter-squared:hover{
    color: #00aced;
    transition: 0.4s;
}
.icon-linkedin-squared{
    right: 5%;
    padding-top: 0.5%;
}
.icon-linkedin-squared:hover{
    color: #0077B5;
    transition: 0.4s;
}
.icon-floppy, .icon-arrows-cw, .icon-pencil{
    padding-right: 1vw;
    font-size: 1.5vw;
    color: #fff;
}



/*
header table{
    border-spacing: 2vw 0.5vw;
    border: 3px solid black;
    font-size: 1.7vw;
}
header table tr{
border: 1px solid black;
}
header table td{
    background-color: black;
}

td:hover{
    background-color: gray;
}*/