.main{
    display: flex;
    flex-direction: row;
}
.read-artifacts{
    width: 33%;
    margin-left: 10%;
    margin-top: 10%;
    height: 30vw;
    background-color: rgba(83, 80, 80, 0.9);
    border-radius: 1vw;
    text-align: center;
    text-transform: uppercase;
}
.read-button{
    margin-top: 2vw;
}
.table-artifacts{
padding-left: 5%;
padding-top: 5%;
}
.price{
    padding-left: 10vw;
}

.buy-artifacts{
    text-transform: uppercase;
    font-size: 3vw;
    margin-top: 10vw;
    margin-left: 5vw;
}



