
header{
    background-color: rgba(83, 80, 80, 0.9);
    align-self: center;
    margin-top: 5vw;
    border: 0.3vw solid transparent;
    padding-left: 8vw;
    padding-right: 8vw;
    border-radius: 1vw;

    margin-left: auto;
    margin-right: auto;
}
header h1{
    margin-left: auto;
    margin-right: auto;
    color: rgb(0,0,0);
}
header h3{
    margin-left: auto;
    margin-right: auto;
    color: rgb(0,0,0);
}

.column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table{
    background-color: rgba(83, 80, 80, 0.9);
    border: 0.3vw solid transparent;
    border-radius: 1vw;
    padding: 2vw;
}
.first-table{
    margin-left: 15vw;
    margin-top: 5vw;
}
.second-table{
    margin-right: 15vw;
    margin-top: 5vw;
}

.separator {
    display: flex;
    align-items: center;
}

.main {
    z-index: 1;
    width: 20%;

    background-color: #fff;
}

