{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">
            <header>
            <h1>Edit codecooler:</h1>
            </header>
            
            <div class="search-engine">
                <form method="post">
                Search for codecooler:
                <input class="input" type="number" name="codecoolerToFind">
                <input class="btn" type="submit" value="Submit" name="search">
                </form>
            </div>
        <form method="post">
            <div class="column">
                <fieldset class="first-table menu-internal">
                    {{ list }}
                </fieldset><div class="separator">
                <input class="btn" type="submit" value="Submit" name="submitCodecooler">
                </div><fieldset class="second-table menu-internal">
                    <ul>
                        <li><label>
                            Codecooler id:
                            <input class="input" type="text" name="id" required>
                        </label></li>
                        <li><label>
                            New codecooler first name:
                            <input class="input" type="text" name="firstName" required>
                        </label></li>
                        <li><label>
                            New codecooler surname:
                            <input class="input" type="text" name="lastName" required>
                        </label></li>
                        <li><label>
                            New codecooler nickname:
                            <input class="input" type="text" name="nickname" required>
                        </label></li>
                        <li><label>
                            New codecooler email:
                            <input class="input" type="text" name="email" required>
                        </label></li>
                        <li><label>
                            New codecooler password:
                            <input class="input" type="password" name="password" required>
                        </label></li>
                    </ul>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}