<!DOCTYPE html>
<html>
    <head>
        <title>Codecool Quest Store</title>
        <link rel = "stylesheet" type="text/css" href = "static/main.css">
        <link rel = "stylesheet" type = "text/css" href = "static/fontello.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet"> 
        <meta charset = "UTF-8">
        <link rel="icon" href="../assets/images/faviconCodecool.png">
        <link rel = "stylesheet" type = "text/css" href = "static/internalPage.css">
    </head>

    <body>
        <div class = "container">

            <header>
                <a href = "index.html">Quest Store</a>
            </header>

            <section class ="bar">
                        
                <!--
                 --><img src = "assets/images/logoBar.jpg"><!--
                 --><span>Codecool Poland</span>
                 <nav class = "primary-nav">
                        <a onclick="changeToWelcomePage()">My account</a><!--
                        --><a>Log out</a>
                     </nav>
                </section>

            <div class = "main">

                    <nav class = "menu col-1-5"><ul>
                            <li class="dropdown">Codecoolers
                                <div class="dropdown-content">
                                <ul id="codecoolerOptionsList">
                                    <li id="codecoolerAdder" data-source="mentorAddStudent.html">Add Codecooler</li>
                                    <li id="codecoolerEditor" data-source="mentorEditStudent.html">Edit Codecooler</li>
                                    <li id="codecoolerDeleter" data-source="mentorRemoveStudent.html">Delete Codecooler</li>
                                    <li id="codecoolerMarkItem" data-source="mentorMarkItemAsUsed.html">Mark Item as Used</li>
                                    <li id="codecoolerQuest" data-source="mentorMarkQuestAsCompleted.html">Mark Quest as completed</li>
                                    <li id="codecoolerWallet" data-source="mentorCheckWallet.html">Check codecooler wallet</li>
                              </ul>
                              </div></li>
                            <li class="dropdown">Item shop
                                <div class="dropdown-content">
                                <ul id="shopOptionsList">
                                    <li id="showShop" data-source="mentorShop.html">Show shop</li>
                                    <li id="editItem" data-source="mentorEditArtifact.html">Edit item</li>
                                    <li id="addItem" data-source="mentorAddArtifact.html">Add new item</li>
                                </ul>
                            </div></li>
                            <li class="dropdown">Quests
                                <div class="dropdown-content">
                                <ul id="questOptionsList">
                                    <li id="showQuests" data-source="mentorQuests.html">Show quests</li>
                                    <li id="editQuest" data-source="mentorEditQuest.html">Edit quest</li>
                                    <li id="addQuest" data-source="mentorAddQuest.html">Add new quest</li>
                                </ul>
                            </div></li>
                            </ul></nav>

            <div class = "col-4-5">{% block content %}{% endblock %}</div>
            <div class = "right-side-style"></div>
        
        </div>
    <footer class = "container footer">
        <p>&copy; Thrash Code sp. zoo</p>
        <span>
            <a href = "https://www.facebook.com/CodecoolPoland/" class="icon-facebook-squared"></a>
            <a href = "https://twitter.com/codecoolpoland" class="icon-twitter-squared"></a>
            <a href = "https://pl.linkedin.com/school/codecool/" class="icon-linkedin-squared"></a> 
        </span>
        </footer>
         </div>
    <script src="../assets/scripts/MentorMenuScript.js"></script>
    <script>function changeToWelcomePage() {
        document.getElementById("inner").src = "mentorWelcomePage.html"
    }
    </script> 
    </body>
    </html>