{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">
            <h1>Search for codecooler id or directly <br>
                enter codecooler id to see his wallet:</h1>
            
            <div class="search-engine">
                <form method="post">
                Search for codecooler:<br>
                <input class="input" type="number" name="search"><br>
                <input class="btn" type="submit" value="Submit" name="searchButton">
                {{ searchResult }}
                </form>

                <form method="post">
                Codecooler id:<br>
                <input class="input" type="number" name="codecoolerWallet"><br>
                <input class="btn" type="submit" value="Submit" name="showWalletButton">
                {{ coins }}
                {{ wallet }}
                </form>
            </div>
    </div>
{% endblock %}