{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">
        <h1>Super cool header for our quests!</h1>

        <form>
            <div class="column">
                <ul>
                    {% for entry in entries %}
                        <li>{{ entry}}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
{% endblock %}