{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">
        <h1>Super cool header for our shop!</h1>

        <form>
            <div class="column">
                <fieldset class="first-table menu">
                    a lot of fancy quests! Use imagination!
                </fieldset>
                <fieldset class="second-table menu">
                    even more quests of same type as above!
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}