{% extends "mentorIndexPage.twig" %}

{% block content %}
    <div class="container-internal">
        <h1>Here you can add new artifact to shop:</h1>
        <form>
            <div class="column">
                <fieldset class="first-table menu-internal">
                    <ul>
                        <li><label>
                            Artifact name:<br>
                            <input class="input" type="text" name="name">
                        </label></li>
                        <li><label>
                            Artifact description:<br>
                            <input class="input" type="text" name="description">
                        </label></li>
                    </ul>
                </fieldset><div class="separator">
                <input class="btn" type="submit" value="Submit">
                </div><fieldset class="second-table menu-internal">
                    <ul>
                        <li><label>
                            Artifact price:<br>
                            <input class="input" type="text" name="price">
                        </label></li>
                        <li><label>
                            Artifact image:<br>
                            <input class="input" type="text" name="artifactURL"><br>
                        </label></li>
                    </ul>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}