{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">
            <h1 class = "topic">Mark someone's quest as completed:</h1>
            
            <div class="search-engine">
                <form method="post">
                Search for codecooler:
                <input class="input" type="text" name="search" required>
                <input class="btn" type="submit" value="searchButton">
                {{ searchResult }}
                </form>

                <form method="post">
                Provide id set:
                <input class="input" type="number" name="questid" placeholder="Completed quest ID" required>
                <input class="input" type="number" name="codecoolerid" placeholder="Codecooler ID" required>
                <input class="btn" type="submit" name="update" value="markButton">
                </form>
            </div>
    </div>
{% endblock %}